@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<section class=" backgroundlogin">
    <div class="row justify-content-center paddingTop">
        <div class="col-md-6">
            <div class="login-box">
                <h2>@ViewData["Title"]</h2>
                <form id="loginAccount" asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="user-box">
                        <input type="text" asp-for="Input.Email" autocomplete="username" aria-required="true">
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="user-box">
                        <input type="password" asp-for="Input.Password" autocomplete="current-password" aria-required="true">
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                    <div>
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        <label asp-for="Input.RememberMe"></label>
                    </div>
                    <button id="login-submit" class=" w-100 btn btn-lg" type="submit">
                        
                        Connexion
                    </button>
                </form>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins)
                                        {
                                            <button type="submit" class=" w-100 btn btn-lg" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                                                 <p>Google</p</svg>
                                            </button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " id="forgot-password" asp-page="./ForgotPassword">Mot de Passe Oublié</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link " asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crée un compte</a>
                    </li>



                </ul>
            </div>
        </div>

    </div>


</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
            }



                        
